@import "_mixin";


//Navbar
.navbar {

    display: flex;
    align-items: center;
    width: 1215px;
    height: 81px;
    justify-content: space-between;

    p {
        font-size: clamp(28px, 1.45vh, 2.6vh);
        font-weight: bold;
    }

    .links {
        display: flex;

        a {
            margin-left: 40px;
            display: flex;
            align-items: center;
            font-size: clamp(14px, 0.729vh, 1.45vh);

            img {
                margin-left: 7px;
            }

            text-decoration: none;
        }

        a:hover {
            @include hoverOrangeEffect;
        }

    }
}