@import "_mixin";

// Testimonials
.testimonials {

    .titleBlock {
        margin-top: 195px;
        width: 1215px;

        .title {
            color: #4353FF;
            font-weight: bold;
            font-size: 22px;
            letter-spacing: 4px;
            padding-bottom: 20px;
            text-transform: uppercase;
        }

        .subtitle {
            color: #000;
            font-weight: bold;
            font-size: 54px;
            letter-spacing: 1px;
        }
    }

    .sliderMenu {
        width: 1215px;
        height: 450px;
        margin-top: 80px;
        display: grid;
        grid-template: repeat(4, auto)/repeat(2, 1fr);
        grid-template-areas:
            "pic quote"
            "pic text"
            "pic block"
            "pic block";
    }

    .picture {
        grid-area: pic;
    }

    .quote {
        grid-area: quote;
    }

    .text {
        grid-area: text;
        font-weight: bold;
        font-size: 36px;
        line-height: 47px;
        color: #000;
    }

    .authorBlock {
        grid-area: block;
    }
}