* {
    border: none;
    margin: 0;
    padding: 0;
    // background-color: grey;
    color: lightgray;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

*::before,
*::after {
    box-sizing: border-box;
}

p {
    margin: 0 0 5px;
}

//Mixins
@mixin orangeColor {
    color: #FF8A56;
}

@mixin hoverOrangeEffect {
    @include orangeColor;
    transition: .1s ease-out;
    text-shadow: 2px 2px 15px goldenrod;
    cursor: pointer;
    transform: scale(1.1);
}

@mixin blackButton {
    width: 160px;
    height: 58px;
    border: 0 solid #000;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .5s ease-out;

    cursor: pointer;

}

@mixin titleLarge {
    font-size: 54px;
    font-weight: bold;
}


.container {
    width: 1440px;
    // width: 100%; // potom ubrat`?
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    // background: radial-gradient(circle, rgb(80, 80, 80), gray);
    background: gray;

}

//Navbar
.navbar {

    display: flex;
    align-items: center;
    width: 1215px;
    height: 81px;
    justify-content: space-between;

    p {
        font-size: 28px;
        font-weight: bold;
    }

    .links {
        display: flex;

        // height: 28px;
        a {
            margin-left: 40px;
            display: flex;
            align-items: center;
            font-size: 18px;

            img {
                margin-left: 7px;
            }

            text-decoration: none;
        }

        a:hover {
            @include hoverOrangeEffect;
        }

    }
}

//Header
header {
    display: flex;
    align-items: center;
    width: 1215px;
    margin-top: 85px;

    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;

    .headerLeft {
        h1 {
            @include orangeColor;
            font-size: 72px;
        }

        h2 {
            font-size: 72px;
            margin-bottom: 15px;

        }

        p {
            font-size: 22px;
            margin-bottom: 20px;
        }

        .headerButtons {
            display: flex;
            align-items: center;



            .book {
                @include blackButton;
                margin-right: 40px;
                // background-color: grey;
            }

            .book:hover {
                @include blackButton;

            }


            .CV {
                @include blackButton;
                background-color: grey;
            }

            .CV:hover {
                @include blackButton;

            }


            img {
                width: 14px;
                height: 14px;
                padding-left: 24px;
            }
        }
    }
}

//Sponsors
.sponsors {
    width: 1000px;
    height: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        padding-bottom: 45px;
        font-size: 18px;
    }

    img {
        margin-left: 100px;
    }

    #fisrtItem {
        margin-left: 0; // Ужасный костыль, нужно узнать как сделать этот трюк нормально
    }
}

//Services
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .services_title {
        width: 810px;
        margin-bottom: 115px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            color: #FF5E69;
            margin: 80px 0 16px;
            font-size: 22px;
            letter-spacing: 4px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .text {
            text-align: center;
            @include titleLarge;
        }
    }


    .info {
        display: flex;
        width: 1098px;
        justify-content: space-between;
        align-items: start;

        .block {
            width: 306px;
            height: 381px;
            display: flex;
            flex-direction: column;
            /* align-items: flex-start; */
            justify-content: initial;

            .logo {
                margin-bottom: 30px;
            }

            h1 {
                margin-bottom: 25px;
                font-size: 24px;
            }

            .subtext {
                margin-bottom: 22px;
                line-height: 28px;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            li {
                position: relative;
                padding-left: 30px;
                margin-bottom: 10px;
            }

            li:before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 7px;
                height: 7px;
                background-color: #000;
                /* цвет квадрата */
            }
        }
    }
}

//Projects
.projects {
    width: 1215px;
    margin-top: 80px;

    .project_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }

    .projects_title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .title {
        color: #B16CEA;
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 4px;
        margin-bottom: 25px;
    }

    .text {
        @include titleLarge;
    }

    .button {
        @include blackButton;
       
    }
    .button:hover {
        @include hoverOrangeEffect();
    }


    .page-title {
        text-align: center;
    }

    .slider-container {
        position: relative;
        width: 600px;
        height: 400px;
        margin: 0 auto;
        overflow: hidden;
    }

    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .prev-button,
    .next-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        font-size: 24px;
        color: white;
    }

    .prev-button {
        left: 10px;
    }

    .next-button {
        right: 10px;
    }

}

// Blogs
.blogs {
    background-color: #000;
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;

    // position: relative;
    // bottom: 50px;

    .blogs_info {
        width: 1215px;
        margin: 0 auto;
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        .info {
            width: 450px;
            height: 293px;
            margin-top: 112px;


            .title {
                color: #FFA84B;
                font-size: 22px;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 4px;
                padding-bottom: 14px;
            }

            .title_main {
                font-size: 54px;
                font-weight: bold;
                text-transform: capitalize;
                padding-bottom: 34px;
            }

            .view {
                color: #fff;
            }

            .view:hover {
                @include hoverOrangeEffect;
            }
        }

        .news_item {
            width: 692px;

        }

        .news {
            padding-bottom: 65px;

            .news_block {
                border-bottom: 1px solid #777;
            }

            .title {
                font-size: 15px;
                padding-bottom: 23px;
            }

            .text {
                font-size: 28px;
                font-weight: bold;
                width: 489px;
                padding-bottom: 41px;
            }

            .read {
                font-size: 18px;
                font-weight: bold;
                padding-bottom: 38px;


            }

            .read:hover {
                @include hoverOrangeEffect;
            }
        }

    }
}

// Product
.product {
    width: 1440px;

    .product_item {
        width: 1215px;
        display: flex;
        align-items: center;
        margin: 0 auto;

        .button {
            width: 620px;
            height: 120px;
            line-height: 40px;
            font-size: 22px;
            color: #666666;
        }
    }

    .product_title {
        width: 590px;
        margin-bottom: 115px;


        .title {
            color: #FF5E69;
            margin: 80px 0 16px;
            font-size: 22px;
            letter-spacing: 4px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .text {
            // text-align: center;
            @include titleLarge;
            color: #000;
        }
    }

    .productPictures {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        // align-items: stretch;
        grid-gap: 10px;
        width: 1215px;
        margin: 0 auto;
        grid-template-areas: "img pic block"
            "img pic layer";

        .design_1 {
            grid-area: img;
        }

        .design_2 {
            grid-area: pic;
        }

        .design_3 {
            grid-area: block;
        }

        .design_4 {
            grid-area: layer;
        }
    }
}

// Education
.education {
    margin-top: 160px;
    width: 1215px;

    display: grid;
    grid-template: repeat(1, 1fr)/repeat(2, 1fr);
    grid-gap: 50px;

    .educationInfo {
        width: 583px;

        .educationSchool {
            height: 94px;
            border-bottom: 1px solid #555;
            display: grid;
            grid-template: repeat(2, 1fr)/repeat(2, 1fr);
            grid-template-areas: "title subtitle"
                "text subtext";
            align-items: stretch;
            justify-items: start;
            margin-bottom: 35px;

        }

        .educationTitle {
            font-size: 36px;
            color: #000;
            padding-bottom: 85px;
            grid-area: title;
        }

        .schoolTitle {
            font-size: 24px;
            font-weight: bold;
            color: #000;
            padding-bottom: 9px;
        }

        .schoolSubtitle {
            color: #000;
            opacity: 0.6;
            grid-area: text;
        }

        .schoolYear {
            grid-area: subtext;
            color: #000;
            opacity: 0.6;
            justify-self: end;

        }
    }
}

// Testimonials
.testimonials {

    .titleBlock {
        margin-top: 195px;
        width: 1215px;

        .title {
            color: #4353FF;
            font-weight: bold;
            font-size: 22px;
            letter-spacing: 4px;
            padding-bottom: 20px;
            text-transform: uppercase;
        }

        .subtitle {
            color: #000;
            font-weight: bold;
            font-size: 54px;
            letter-spacing: 1px;
        }
    }

    .sliderMenu {
        width: 1215px;
        height: 450px;
        margin-top: 80px;
        display: grid;
        grid-template: repeat(4, auto)/repeat(2, 1fr);
        grid-template-areas:
            "pic quote"
            "pic text"
            "pic block"
            "pic block";
    }

    .picture {
        grid-area: pic;
    }

    .quote {
        grid-area: quote;
    }

    .text {
        grid-area: text;
        font-weight: bold;
        font-size: 36px;
        line-height: 47px;
        color: #000;
    }

    .authorBlock {
        grid-area: block;
    }
}

// FAQ

.faq-bgcolor {
    background: linear-gradient(gray, black);
    height: 6vh;
}

.faq__ {
    width: 1440px;
    background-color: #000;
    margin-top: 160px;
    height: 100%;
    // box-shadow: 0 10px 6px 15px #000;
    // height: 811px;
    // height: 428px;


    .faqBlock__ {
        width: 1215px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 120px;

        .title__ {
            padding-top: 60px;
            padding-bottom: 20px;
            color: #FF8A56;
            font-weight: bold;
            font-size: 22px;
            letter-spacing: 4px;
        }

        .subtitle__ {
            font-size: 54px;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }



    // faq

    .faq {
        max-width: 1215px;
        // height: 428px;
        margin: 20px auto;
        display: grid;
        grid-template: repeat(4, auto)/repeat(2, 1fr);
        grid-gap: 10px;
        align-items: center;
    }

    .faq-item {
        border: 1px solid #FF8A56;
        margin-bottom: 5px;
    }

    .faq-title {
        display: block;
        cursor: pointer;
        padding: 10px 15px;
        transition: background .2s ease-out;
        position: relative;
    }

    .faq-title:hover {
        background-color: #FF8A56;
    }

    .faq-title::after {
        content: "";
        display: block;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: #fff transparent transparent transparent;
        transform: rotate(0deg);
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }

    .faq-input {
        appearance: none;
        position: absolute;
        width: 0;
        height: 0;
    }

    .faq-input:checked~.faq-title {
        background-color: #FF8A56;
    }

    .faq-input:checked~.faq-title::after {
        border-style: solid;
        border-width: 0 5px 8px 5px;
        border-color: transparent transparent #FFFFFF transparent;
        transform: rotate(0deg);
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }

    .faq-input:checked~.faq-text {
        display: block;
    }

    .faq-text {
        display: none;
        font-size: 14px;
        padding: 10px 15px;

    }

}

// Footer
footer {
    width: 1440px;
    height: 100%;
    // background: linear-gradient(black, grey);
    background: #000;

    .wrapper {
        width: 1215px;
        margin: 0 auto;

        .wrapper-text {
            margin-top: 250px;
            margin-bottom: 80px;

            .title {
                color: #fff;
                font-weight: bold;
                font-size: 54px;
            }

            .title-blue {
                color: #3C46FF;
                font-weight: bold;
                font-size: 54px;
            }
        }
    }

    .wrapper-footer {

        .portfolio {

            display: flex;
            justify-content: space-between;

            .portfolio-title {
                font-size: 28px;
            }

            .portfolio-subtitle {
                color: #666;
                font-size: 16px;
                line-height: 28px;
            }

            .porfolio-mail {
                display: flex;

                img {
                    color: #666;
                    padding-right: 5px;
                }

                p {
                    color: #666;

                }
            }

        }

        .about {
            display: grid;
            grid-template: repeat(3,1fr)/repeat(3,1fr);
            align-items: center;
            justify-items: start;
            width: 485px;
            height: 134px;


            :hover {
                @include hoverOrangeEffect();
            }
        }
    }
}