@charset "UTF-8";
* {
  border: none;
  margin: 0;
  padding: 0;
  color: lightgray;
  font-family: "Roboto", sans-serif;
  cursor: default;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: #777;
}

.navbar {
  display: flex;
  align-items: center;
  width: 1215px;
  height: 81px;
  justify-content: space-between;
}
.navbar p {
  font-size: 28px;
  font-weight: bold;
}
.navbar .links {
  display: flex;
}
.navbar .links a {
  margin-left: 40px;
  display: flex;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
}
.navbar .links a img {
  margin-left: 7px;
}
.navbar .links a:hover {
  color: #FF8A56;
  transition: 0.5s;
  text-shadow: 2px 2px 15px goldenrod;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  width: 1215px;
  margin-top: 85px;
  flex-basis: 100px;
  flex-grow: 1;
  flex-shrink: 1;
}
header .headerLeft h1 {
  color: #FF8A56;
  font-size: 72px;
}
header .headerLeft h2 {
  font-size: 72px;
  margin-bottom: 15px;
}
header .headerLeft p {
  font-size: 22px;
  margin-bottom: 20px;
}
header .headerLeft .headerButtons {
  display: flex;
  align-items: center;
}
header .headerLeft .headerButtons .book {
  width: 160px;
  height: 58px;
  border: 0 solid #000;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
  margin-right: 40px;
}
header .headerLeft .headerButtons .book:hover {
  width: 160px;
  height: 58px;
  border: 0 solid #000;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
}
header .headerLeft .headerButtons .CV {
  width: 160px;
  height: 58px;
  border: 0 solid #000;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
  background-color: grey;
}
header .headerLeft .headerButtons .CV:hover {
  width: 160px;
  height: 58px;
  border: 0 solid #000;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
}
header .headerLeft .headerButtons img {
  width: 14px;
  height: 14px;
  padding-left: 24px;
}

.sponsors {
  width: 1000px;
  height: 252px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sponsors .title {
  padding-bottom: 45px;
  font-size: 18px;
}
.sponsors img {
  margin-left: 100px;
}
.sponsors #fisrtItem {
  margin-left: 0;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services .services_title {
  width: 810px;
  margin-bottom: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .services_title .title {
  color: #FF5E69;
  margin: 80px 0 16px;
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
}
.services .services_title .text {
  text-align: center;
  font-size: 54px;
  font-weight: bold;
}
.services .info {
  display: flex;
  width: 1098px;
  justify-content: space-between;
  align-items: start;
}
.services .info .block {
  width: 306px;
  height: 381px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: initial;
}
.services .info .block .logo {
  margin-bottom: 30px;
}
.services .info .block h1 {
  margin-bottom: 25px;
  font-size: 24px;
}
.services .info .block .subtext {
  margin-bottom: 22px;
  line-height: 28px;
}
.services .info .block ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.services .info .block li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.services .info .block li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background-color: #000;
  /* цвет квадрата */
}

.projects {
  width: 1215px;
  margin-top: 80px;
}
.projects .project_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.projects .projects_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.projects .title {
  color: #B16CEA;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 4px;
  margin-bottom: 25px;
}
.projects .text {
  font-size: 54px;
  font-weight: bold;
}
.projects .button {
  width: 160px;
  height: 58px;
  border: 0 solid #000;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
}
.projects .page-title {
  text-align: center;
}
.projects .slider-container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.projects .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.projects .slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .prev-button,
.projects .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}
.projects .prev-button {
  left: 10px;
}
.projects .next-button {
  right: 10px;
}

.blogs {
  background-color: #000;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogs .blogs_info {
  width: 1215px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.blogs .blogs_info .info {
  width: 450px;
  height: 293px;
  margin-top: 112px;
}
.blogs .blogs_info .info .title {
  color: #FFA84B;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  padding-bottom: 14px;
}
.blogs .blogs_info .info .title_main {
  font-size: 54px;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 34px;
}
.blogs .blogs_info .info .view {
  color: #fff;
}
.blogs .blogs_info .info .view:hover {
  color: #FF8A56;
  transition: 0.5s;
  text-shadow: 2px 2px 15px goldenrod;
  cursor: pointer;
}
.blogs .blogs_info .news_item {
  width: 692px;
}
.blogs .blogs_info .news {
  padding-bottom: 65px;
}
.blogs .blogs_info .news .news_block {
  border-bottom: 1px solid #777;
}
.blogs .blogs_info .news .title {
  font-size: 15px;
  padding-bottom: 23px;
}
.blogs .blogs_info .news .text {
  font-size: 28px;
  font-weight: bold;
  width: 489px;
  padding-bottom: 41px;
}
.blogs .blogs_info .news .read {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 38px;
}
.blogs .blogs_info .news .read:hover {
  color: #FF8A56;
  transition: 0.5s;
  text-shadow: 2px 2px 15px goldenrod;
  cursor: pointer;
}

.product {
  width: 1440px;
}
.product .product_item {
  width: 1215px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.product .product_item .button {
  width: 620px;
  height: 120px;
  line-height: 40px;
  font-size: 22px;
  color: #666666;
}
.product .product_title {
  width: 590px;
  margin-bottom: 115px;
}
.product .product_title .title {
  color: #FF5E69;
  margin: 80px 0 16px;
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
}
.product .product_title .text {
  font-size: 54px;
  font-weight: bold;
  color: #000;
}
.product .productPictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  width: 1215px;
  margin: 0 auto;
  grid-template-areas: "img pic block" "img pic layer";
}
.product .productPictures .design_1 {
  grid-area: img;
}
.product .productPictures .design_2 {
  grid-area: pic;
}
.product .productPictures .design_3 {
  grid-area: block;
}
.product .productPictures .design_4 {
  grid-area: layer;
}

.education {
  margin-top: 160px;
  width: 1215px;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(2, 1fr);
  grid-gap: 50px;
}
.education .educationInfo {
  width: 583px;
}
.education .educationInfo .educationSchool {
  height: 94px;
  border-bottom: 1px solid #555;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  grid-template-areas: "title subtitle" "text subtext";
  align-items: stretch;
  justify-items: start;
  margin-bottom: 35px;
}
.education .educationInfo .educationTitle {
  font-size: 36px;
  color: #000;
  padding-bottom: 85px;
  grid-area: title;
}
.education .educationInfo .schoolTitle {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  padding-bottom: 9px;
}
.education .educationInfo .schoolSubtitle {
  color: #000;
  opacity: 0.6;
  grid-area: text;
}
.education .educationInfo .schoolYear {
  grid-area: subtext;
  color: #000;
  opacity: 0.6;
  justify-self: end;
}/*# sourceMappingURL=main.css.map */