@import "_mixin";
@import "_variables";
@import "_reset";
@import "_header";
@import "_services";
@import "_projects";
@import "_blogs";
@import "_product";
@import "_education";
@import "_testimonials";
@import "_faq";
@import "_footer";





.container {
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}


@media screen and (max-width: 768px) {}